@import '_navigation.scss';

$primary-color: #777; 
$main-font-size: 14px;

body {
  font-size: $main-font-size;
  color: $primary-color;
  background-color: #f4f4f4;
}

header {
  padding-top: 10px;
  background-color: #b71c1c;
}

header{
	.img-logo {
	  width: 135px;
	}

	.header-2 {
	  position: relative;

	  float: left;

	  margin-left: 50px;
	  padding-top: 10px;
	}

	.header-2 input {
	  position: absolute;

	  width: 400px;
	  padding: 5px;
	}

	.header-2 button {
	  top: 0;
	  left: 399px;

	  height: 32px;

	  color: #b71c1c;
	  border: none;
	  border-left: 1px solid #ddd;
	  background-color: white;
	}

	.header-3 {
	  float: right;

	  text-align: right;
	}

	.header-3 ul,
	.header-3 li {
	  float: left;

	  padding-left: 10px;

	  list-style: none;
	}

	.header-3 a {
	  font-size: 35px;

	  color: white;
	}
}

.main-nav{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: white;
}

.main-nav{
	a{
		padding: 8px 8px 8px 15px;
		color: #777;
	}
	a:hover, a:active{
		background-color: #b71c1c;
		color: #fff;
		text-decoration: none;
	}
	.nav-home{
		background-color: #b71c1c;
		color: #fff;
		padding: 8px;
		margin-right: 15px;
	}
	.fa-nav{
		color: #d43f3a;
		padding-right: 5px;
	}
}

.banner{
	position: relative; 
    margin-top: 20px;
    height: 500px;
}

.banner{
	.slider{
		position: absolute;
	}
	.in-banner{
		position: absolute;
	    text-align: center;
	    left: 300px;
	    color: #fff;
	    z-index: 100;
	    top: 20px;
	}

	.container-search{
		position: relative;
	}
	.container-search{
		span{
		    position: absolute;
		    font-size: 20px;
		    color: #d43f3a;
		    top: 10px;
		    left: 10px;
		}
		input[name='search']{
			width: 100%;
		    border: none;
		    padding-left: 50px;
		    height: 40px;
		    font-size: 16px;	
		}	
	}
}

.main-post{
	.item-cook{
		float: left;
	    width: 234px;
	    padding: 15px;
	    overflow: hidden;
	}

	.item-cook{
		.title{
			font-size: 13px;
			color: #000;

		}
	}
}



